<div class="contact-form">
    <form action="{{ site.formspree_url }}{{ site.formspree_id }}" method="POST">
        <div class="text-input-container">
            <label>
                Name:
                <input type="text" name="name" placeholder="Enter your name">
            </label>
        </div>

        <div class="text-input-container">
            <label>
                Email:
                <input type="text" name="_replyto" placeholder="Enter your email">
            </label>
        </div>        

        <div class="text-input-container">
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>    
        </div>

        <div class="contact-submit">
            <button type="submit">Send</button>
        </div>
    </form>
</div>