<div class="slider">
    <div class="slider-items">
        <!---
        
            {% for file in site.static_files %}
            {% if file.path contains page.assetLocation and file.path contains "1" %}
            <div class="item active">
                <img src="{{site.url}}{{site.baseurl}}{{file.path}}" alt="{{file.name}}">
                <div class="caption">front</div>
            </div>
            {% elsif file.path contains page.assetLocation %}
            <div class="item">
                <img src="{{site.url}}{{site.baseurl}}{{file.path}}" alt="{{file.name}}">
                <div class="caption">back</div>
            </div>
            {% endif %}
            {% endfor %}
        --->
    </div>
    
    <div class="left-slide" onclick="myFunction">P</div>
    <div class="right-slide" onclick="myFunction">N</div>
</div>

<script src="blog/assets/js/slider.js"></script>
