{%- if page.assetLocation -%}    
    <div class="slider">
        <div class="slider-items">
            {% for file in site.static_files %}
                {% assign strArray = file.name | split: "_" %}
                {% assign caption = strArray | last | remove: '.jpg' %}
                {% if file.path contains page.assetLocation and file.name contains "1_" %}
                <div class="item active">
                    <img src="{{site.url}}{{site.baseurl}}{{file.path}}" alt="{{file.name}}">
                    {%- if caption != '' -%}                                            
                        <div class="caption">{{ caption }}</div>
                    {%- endif -%}
                </div>
                {% elsif file.path contains page.assetLocation %}
                <div class="item">
                    <img src="{{site.url}}{{site.baseurl}}{{file.path}}" alt="{{file.name}}">    
                    {%- if caption != '' -%}                                            
                        <div class="caption">{{ caption }}</div>
                    {%- endif -%}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="left-slide"><</div>
        <div class="right-slide">></div>
    </div>
{% endif %}