---
layout: default
permalink: /:console/:title/
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- date and author info -->
  <p class="post-meta">

    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>

    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}</p>
  
  <!-- game meta data -->
  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }} ({{ page.region }})

      {% if page.wiki %}
        <a href="{{page.wiki}}" style="font-size:18px" target="blank">[Wiki]</a>      
      {% endif %}

    </h1>
    {% if page.year %}
    <h4 class="post-release-year">Released: {{ page.year }}</h4>      
    {% endif %}

    {% if page.developer %}
      <h4 class="post-developer">Developer: {{ page.developer }}</h4>      
    {% endif %}

    {% if page.platform %}
      <h4 class="post-console">Platform: {{ page.platform }}</h4>      
    {% endif %}
    
    {% if page.region %}
      <h4 class="post-region">Region: {{ page.region }}</h4>      
    {% endif %}

    {% if page.ean %}
      <p class="post-ean">EAN: {{ page.ean }}
        <a href="{{site.ean_url}}{{page.ean}}" target="blank">[Look up]</a>      
      </p>
    {% endif %}
  
  </header>
  
  <!-- markdown content -->
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="{{ "/assets/js/slider.js" | relative_url }}"></script>